#overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1000;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: white;
    display: flex;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    z-index: 10000;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
